In [ ]:
# comments.py
#!/usr/bin/env python3
#
#       some comments
#
x = 10                          # an integer
y = "hello there!"              # a string
z = "This # is not a comment "

In [ ]:
# multiline.py
#!/usr/bin/env python3
"""
   	This is an example of a
   	multi-line comment
"""
""" another one """

' another one '

In [ ]:
# strings.py
#!/usr/bin/env python3
x = "www.trainingetc.com"
result = x.startswith("www")
print(result)
print(x.endswith(".org"))
y = x.upper()
print("ORIGINAL", x)
print("RETURNED", y)

True
False
ORIGINAL www.trainingetc.com
RETURNED WWW.TRAININGETC.COM

In [ ]:
# string conversions.py
#!/usr/bin/env python3
print("This Is A Sample String".swapcase())
print("ALL To Lower Case".lower())
print("this will be capitalized".capitalize())
print("this will be title case".title())

tHIS iS a sAMPLE sTRING
all to lower case
This will be capitalized
This Will Be Title Case

In [ ]:
# stringtypes.py
#!/usr/bin/env python3
print("AbCDefg".isalpha(), "AbCDe123".isalpha())
print("12345".isnumeric(), "12345BCD".isnumeric())
print("   \t\n".isspace(), "a  b\t\n".isspace())
print("ABCDEFG".isupper(), "abcdefg".isupper())
print("abcdefg".islower(), "ABCDEFG".islower())

True False
True False
True False
True False
True False

In [ ]:
# morestrings.and
#!/usr/bin/env python3
x = "Capital of Mississippi is Jackson"
pos = x.find("is")
print(pos)
print(x.find("is", pos + 1))
print(x.find("is", 8, 12))
print()

x = "1 1 1 1abc"
y = x.replace("1","0")
print(y)
y = x.replace("1", "0", 2)
print(y)
print()

list = x.split(' ')
print(x)
print(list)

12
15
-1

0 0 0 0abc
0 0 1 1abc

1 1 1 1abc
['1', '1', '1', '1abc']

In [ ]:
# whitespace.py
#!/usr/bin/env python3
data = "\t  \nabc  def\t  \n"

# The strip method removes leading and trailing
# whitespace
result = data.strip()
print(len(data), ":", len(result))

# The rstrip method removes trailing whitespace
result = data.rstrip()
print(len(data), ":", len(result))

# The lstrip method removes leading whitespace
result = data.lstrip()
print(len(data), ":", len(result))

16 : 8
16 : 12
16 : 12

In [ ]:
# format.py
#!/usr/bin/env python3
quot = "first name: {0}\nlast name: {1}"
line = quot.format("mike", "smith")
print(line)
 
quot="first name: {first}\nlast name: {last}"
line=quot.format(first="Michael", last="Smith")
print(line)

first name: mike
last name: smith
first name: Michael
last name: Smith

In [ ]:
# format1.py
#!/usr/bin/env python3
name = "michael"
age = 65
average = 92.65
print("|%s %d %f|" % (name, age, average))

|michael 65 92.650000|

In [ ]:
# format2.py
#!/usr/bin/env python3
name = "michael"
age = 65
average = 92.65
print("|%-10s %5d %5.2f|" % (name, age, average + 1))

|michael       65 93.65|

In [ ]:
# conversation.py
#!/usr/bin/env python3
x = "10"
y = 20
result = int(x) + y + int("30")
print(result)
print("The result is: " + str(result))
a = 23.45
b = "12.34"
print(a + float(b))
print(ord("A"))
print(chr(65))

60
The result is: 60
35.79
65
A

In [ ]:
# slices.py
#!/usr/bin/env python3
text = "Spam and eggs"
s1 = text[0]               # "S"
s2 = text[5:8]             # "and"
s3 = text[4:]              # " and eggs"
s4 = text[:4]              # "Spam"
s5 = text[-1]              # "s"
s6 = text[-3:-1]           # "gg"

fmt = "{0}|{1}|{2}|{3}|{4}|{5}"
print(fmt.format(s1, s2, s3, s4, s5, s6))

S|and| and eggs|Spam|s|gg

In [ ]:
# stringops.py
#!/usr/bin/env python3
# The plus (+) operator returns concatenated strings
first = "Mike"
last = "Smith"
full = first + " " + last
print(full)  # Mike Smith

# The asterisk (*) operator returns a repeated string 
stars = "***" * 3
print(len(stars), ":", stars) # 9 : *********

# The in operator is convenient for membership tests
x = "Hello there"
print('t' in x)     # True
print('ell' in x)   # True
print('hell' in x)  # False

Mike Smith
9 : *********
True
True
False