# Welcome to our Lab Practice!

This lab is about variables, assignments, and their value and data types. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Value assignment

###Task: assign **x** with an int 5. 

Use print() and type() to check the value is correctly assigned, and the data type is correct. For example: print('x:', x, type(x))

In [ ]:
# type your code here

###Task: assign **int_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# type your code here

###Task: assign **x** with a float 5.0. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: assign **float_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: assign **x** with a str '5'. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: assign **str1_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: assign **x** with a str '5.0'. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: assign **str2_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [ ]:
# your code will be here

###Task: check all variables.

Use print() and type() to check all the variables you created so far: **x, int_x, float_x, str1_x, str2_x** value and data types.

In [ ]:
# your code will be here

## Value converting

For the task below, convert data value from one type to another, assign it to x, and use print() and type() to check for correctness.

###Task: convert a str '0' to int

In [ ]:
# your code will be here

###Task: convert a float 0.1 to int

In [ ]:
# your code will be here

###Task: convert a str '0' to float

In [ ]:
# your code will be here

###Task: convert an int 0 to float

In [ ]:
# your code will be here

###Task: convert an int 0 to str

In [ ]:
# your code will be here

###Task: convert a float 0.1 to str

In [ ]:
# your code will be here