# Welcome to our Lab Practice!

This lab is about variables, assignments, and their value and data types. Are you ready? Let's get started!

You will find some small tasks in sections below.

## Value assignment

###Task: assign **x** with an int 5. 

Use print() and type() to check the value is correctly assigned, and the data type is correct. For example: print('x:', x, type(x))

In [1]:
x = 5
print('x:', x, type(x))

x: 5 <class 'int'>

###Task: assign **int_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [2]:
int_x = x
print('x:', x, type(x))
print('int_x:', int_x, type(int_x))

x: 5 <class 'int'>
int_x: 5 <class 'int'>

###Task: assign **x** with a float 5.0. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [3]:
x = 5.0
print('x:', x, type(x))

x: 5.0 <class 'float'>

###Task: assign **float_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [4]:
float_x = x
print('x:', x, type(x))
print('float_x:', float_x, type(float_x))

x: 5.0 <class 'float'>
float_x: 5.0 <class 'float'>

###Task: assign **x** with a str '5'. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [5]:
x = '5'
print('x:', x, type(x))

x: 5 <class 'str'>

###Task: assign **str1_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [6]:
str1_x = x
print('x:', x, type(x))
print('str1_x:', str1_x, type(str1_x))

x: 5 <class 'str'>
str1_x: 5 <class 'str'>

###Task: assign **x** with a str '5.0'. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [7]:
x = '5.0'
print('x:', x, type(x))

x: 5.0 <class 'str'>

###Task: assign **str2_x** with x. 

Use print() and type() to check the value is correctly assigned, and the data type is correct.

In [8]:
str2_x = x
print('x:', x, type(x))
print('str2_x:', str2_x, type(str2_x))

x: 5.0 <class 'str'>
str2_x: 5.0 <class 'str'>

###Task: check all variables.

Use print() and type() to check all the variables you created so far: **x, int_x, float_x, str1_x, str2_x** value and data types.

In [9]:
print('x:', x, type(x))
print('int_x:', int_x, type(int_x))
print('float_x:', float_x, type(float_x))
print('str1_x:', str1_x, type(str1_x))
print('str2_x:', str2_x, type(str2_x))

x: 5.0 <class 'str'>
int_x: 5 <class 'int'>
float_x: 5.0 <class 'float'>
str1_x: 5 <class 'str'>
str2_x: 5.0 <class 'str'>

## Value converting

For the task below, convert data value from one type to another, assign it to x, and use print() and type() to check for correctness.

###Task: convert a str '0' to int

In [10]:
x = int('0')
print('x:', x, type(x))

x: 0 <class 'int'>

###Task: convert a float 0.1 to int

In [11]:
x = int(0.1)
print('x:', x, type(x))

x: 0 <class 'int'>

###Task: convert a str '0' to float

In [12]:
x = float('0')
print('x:', x, type(x))

x: 0.0 <class 'float'>

###Task: convert an int 0 to float

In [13]:
x = float(0)
print('x:', x, type(x))

x: 0.0 <class 'float'>

###Task: convert an int 0 to str

In [14]:
x = str(0)
print('x:', x, type(x))

x: 0 <class 'str'>

###Task: convert a float 0.1 to str

In [15]:
x = str(0.1)
print('x:', x, type(x))

x: 0.1 <class 'str'>